/*MODAL WINDOWS - VUE*/

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 85%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
    float: left;
}

.modal-image {
    margin: 10px auto;
    hieght: 100%;
    width: 100%;
}

.modal-description {
    margin: 20px 0;
    text-align: center;
}

.modal-close {
    float: right;
}

.modal-etsy-button {
    float: right;
}

.modal-etsy-alert {
    float: left;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*THUMBNAILS FOR GALLERY*/
.img-thumbnail {
    margin-bottom: 30px;
}

